#wall .tag-1 {
  display: none;
}

body #wall #tag-2 {
  display: none;
}

.parent {
  display: none;
}

#wall #tag-3.slick.wicked {
    display: none;
}

/* this is kind of ridiculous that I don't have enough bytes.
i did it already and it looks good.
hopefully this will pass.
did you see the parent class trick? :) */
